<mat-toolbar>
    <button mat-icon-button><span class="material-icons">keyboard_backspace</span></button>
    <span class="title-center">Matematicas</span>
</mat-toolbar>

<div fxLayout="row wrapper" fxLayoutAlign="space-between center">
    <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100" *ngFor="let card of publicaciones; let i=index">
        <mat-card routerLink="/publicacion1" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{card.title}}</mat-card-title>
                <mat-card-subtitle>{{card.stitle}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="card.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="p-card">{{card.text}}</p>
            </mat-card-content>
            <mat-card-footer>
                <mat-icon class="icono-card" color="warn" (click)="cambioCor(i)">{{card.isFavorite ? 'favorite' : 'favorite_outline'}}</mat-icon>
                <text class="text-card">{{card.number}}</text>
            </mat-card-footer>
        </mat-card>
    </div>
</div>